@page
@model EcoEnergyRazor.Pages.SimulationsModel
@{
	ViewData["Title"] = "Simulations list";
}
<div class="text-center">
	<h2>Simulation List</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Type</th>
				<th>Creation Date</th>
				<th>Energy</th>
			</tr>
		</thead>
		<tbody>
			@if (!Model.FileExists || !Model.FileHasRecords)
			{
				<tr>No existeix ninguna simulació</tr>
			}
			@foreach (var simulation in Model.Simulations)
			{
			<tr>
				<td>@simulation.GetEnergyType()</td>
				<td>@simulation.GetDate()</td>
				<td>@simulation.GetEnergy()</td>
			</tr>
		}
		</tbody>
</table>
<a class="btn btn-primary" asp-page="/SimCreator">Create new simulation</a>
</div>
